# App configuration
SECRET_KEY=your_secure_key_here
UPLOAD_FOLDER=app/static/uploads
MAX_CONTENT_LENGTH=16777216  # 16MB in bytes

# Database configuration
DATABASE_PATH=fotoshr.db

# PostgreSQL configuration
USE_POSTGRES=False
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fotoshr

# AWS configuration
USE_S3=False
AWS_S3_BUCKET=your-bucket-name
AWS_REGION=us-east-1

# Optional: Set to True to enable debug mode
DEBUG=False 